body { background-image:url(http://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg); }

h1 { color:#00FF00; text-shadow:#04B404 4px 2px; font-size:40px; font-family:font-family: 'Kaushan Script', cursive;}

h2 { color:red; font-size:30px; font-family: 'Permanent Marker', cursive; }

h3 { color:#ffffff; font-size:70px; text-shadow:#000000 4px 4px; }


#header {
margin:750px;
padding:50px;
display: inline;
font-family:'Shadows Into Light Two', cursive;
color:#40FF00;
font-size:50px;
text-shadow:#2EFEF7 4px 4px;
}

#links {
margin: inherit;
padding: inherit;
font-family: 'Marck Script', cursive;
font-size: 20px;
font-size:50px;
text-shadow:#2EFEF7 2px 2px
}

#body {
  margin: 10em;
  padding: 0;

}

.navbar li{
  width:5em;
  padding: 0px;
  margin: 0px;
}
.dropdown-menu {

}

.dropdown {

}

ul {
  list-style: none;
  display:inline;
}
li {
  display: inline;
  float: left;
  width:200px;
}
a {
  color:#FF8000;
  text-decoration: none;
  list-style:none;
<<<<<<< HEAD
  display: inline;
=======
  width: 2em;
>>>>>>> origin/master

}
a:active {
  text-decoration: none;
  color:#FF8000;
  list-style-type: none;
}
a:visited {
  text-decoration: none;
  color:#FF8000;
  list-style-type: none;
}
a:hover {
    color:#000000;
}

li {
  display: inline;
}
