body { background-image:url(http://www.planwallpaper.com/static/images/6909249-black-hd-background.jpg); }

h1 { color:#00FF00; text-shadow:#04B404 4px 2px; font-size:40px; font-family:font-family: 'Kaushan Script', cursive;}

h2 { color:red; text-shadow:blue 4px 4px; font-size:50px; font-family: 'Permanent Marker', cursive; }

h3 { color:#ffffff; font-size:70px; text-shadow:#000000 4px 4px; }


#header {
margin:750px;
padding:50px;
display: inline;
font-family:'Shadows Into Light Two', cursive;
color:#40FF00;
font-size:50px;
text-shadow:#2EFEF7 4px 4px;
}

#links {
margin:i inherit;
padding: inherit;
display: inline;
font-family: 'Marck Script', cursive;
font-size: 20px;
color:#000000;
font-size:50px;
text-shadow:#2EFEF7 2px 2px;
}
a {
  text-decoration: none;
}
a:visited {
  color:#0101DF;
}

a:hover {
    color:#ffffff;
    font-size:70px;

}
